.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-popup-container {
    width: 450px;
    border-radius: 5px;
    background: var(--toolbar);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.account-popup-button {
    width: 100%;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 1.1rem;
    padding:  7px 15px;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.account-popup-login {
    background: var(--blue);
}
.account-popup-login:hover {
    background: var(--blue-dark);
}

.account-popup-cancel {
    background: var(--gray);
}
.account-popup-cancel:hover {
    background: var(--gray-dark);
}

.account-popup-message {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0;
    margin-bottom: 10px;
}