.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.account-popup {
    z-index: 6;
}

.account-popup-container, .confirm-popup-container {
    width: 450px;
    border-radius: 5px;
    background: var(--toolbar);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px var(--border-light);
}

.confirm-popup-container {
    width: 400px;
}

.account-popup-button {
    width: 100%;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 1.1rem;
    padding:  7px 15px;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.account-popup-login {
    background: var(--blue);
}
.account-popup-login:hover {
    background: var(--blue-dark);
}

.account-popup-cancel {
    background: var(--gray);
    margin-top: 10px;
}
.account-popup-cancel:hover {
    background: var(--gray-dark);
}

.account-popup-message {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0;
    margin-bottom: 10px;
}

.download-popup-container {
    width: 850px;
    max-width: 95%;
    height: 500px;
    max-height: 95%;
    border-radius: 5px;
    background: var(--toolbar);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    box-sizing: border-box;
    border: 1px solid var(--border-light);
}

.download-popup-container-area {
    width: 450px;
    height: 500px;
    padding: 30px;
}

.download-popup-container-downloaded {
    width: 725px;
    max-width: 90%;
    height: 750px;
    max-height: 90%;

    flex-direction: column;
    justify-content: start;
}

.download-successful-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.download-successful-icon {
    height: 40px;
    width: 40px;
    margin-left: 15px;
}

.download-successful-code {
    margin-top: 5px;
    border-radius: 3px;
    background: #0f1218;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.download-successful-code-inner {
    white-space: nowrap;
    overflow: auto;
    height: 100%;
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    max-width: 100%;
}

.download-successful-code-inner::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.download-successful-code-inner::-webkit-scrollbar-thumb {
    border-radius: 0;
}

.download-successful-code-copy {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.9rem;
    padding: 3px 7px;
    background: var(--sidebar-button);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.code-copy-icon {
    height: 17px;
    width: 17px;
    margin-right: 10px;
}

.code-copied-icon {
    height: 7px;
    margin-right: 7px;
}

.download-successful-instructions {
    color: var(--gray-text);
    text-align: justify;
}

.download-frameworks-container {
    border-radius: 3px;
    padding: 3px 0;
    background: #0f1218;
    margin-right: auto;
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.download-framework {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    font-size: 1rem;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.download-framework:hover {
    cursor: pointer;
}

.download-framework-icon {
    height: 17px;
    margin-right: 5px;
}

.download-framework-disabled {
    color: var(--grayer-text);
}

.download-framework-disabled:hover {
    color: var(--gray-text);
}

.code-line {
    color: var(--gray-text);
    font-size: 1rem;
    user-select: none;
    margin-right: 20px;
    min-width: 30px;
    margin-left: 15px;
    display: inline-block;
}

.code-tab {
    margin-left: 30px;
}

.code-pink {
    color: #C586C0;
}

.code-green {
    color: #48995c;
}

.code-lightgreen {
    color: #94CE89;
}

.code-orange {
    color: #d48557;
}

.code-yellow {
    color: #DBD70A;
}

.code-lightyellow {
    color: #f3f178;
}

.code-blue {
    color: #3db8ff;
}

.code-cyan {
    color: #1ad496;
}

.code-lightblue {
    color: #9CDCFE;
}

.download-popup {
    padding-bottom: var(--toolbar-height);
    height: calc(100% - var(--toolbar-height));
    box-sizing: border-box;
}

.confirm-popup-message {
    margin: 0;
    font-size: 1.1rem;
    text-align: justify;
}

.confirm-popup-buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-popup-cancel, .confirm-popup-confirm {
    width: 100%;
}

.confirm-popup-confirm {
    background: var(--delete-red);
}

.confirm-popup-confirm:hover {
    background: var(--delete-red-hover);
}

.confirm-popup-cancel {
    background: var(--sidebar-button);
    margin-top: 10px;
}

.confirm-popup-cancel:hover {
    background: var(--sidebar-button-hover);
}

@media all and (max-width: 1000px) {
    .download-popup-container {
        padding: 10px 30px;
        width: 750px;
    }
    
}