.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-popup-container, .confirm-popup-container {
    width: 450px;
    border-radius: 5px;
    background: var(--toolbar);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.confirm-popup-container {
    width: 400px;
}

.account-popup-button {
    width: 100%;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 1.1rem;
    padding:  7px 15px;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.account-popup-login {
    background: var(--blue);
}
.account-popup-login:hover {
    background: var(--blue-dark);
}

.account-popup-cancel {
    background: var(--gray);
}
.account-popup-cancel:hover {
    background: var(--gray-dark);
}

.account-popup-message {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0;
    margin-bottom: 10px;
}

.download-popup-container {
    width: 850px;
    max-width: 95%;
    height: 500px;
    max-height: 95%;
    border-radius: 5px;
    background: var(--toolbar);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgb(100,100,100);
}

.download-popup-container-area {
    width: 450px;
    height: 500px;
    padding: 30px;
}

.download-popup-container-downloaded {
    width: 650px;
    max-width: 95%;
    height: 700px;
    max-height: 95%;

    flex-direction: column;
    justify-content: start;
}

.download-successful-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.download-successful-code {
    margin-top: 20px;
    border-radius: 3px;
    background: #0f1218;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 20px;
}

.download-successful-code::-webkit-scrollbar{
    width: 8px;
}
.download-successful-code::-webkit-scrollbar-thumb {
    border-radius: 0;
}

.download-popup {
    padding-bottom: var(--toolbar-height);
    height: calc(100% - var(--toolbar-height));
    box-sizing: border-box;
}

.confirm-popup-message {
    margin: 0;
    font-size: 1.1rem;
    text-align: justify;
}

.confirm-popup-buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.confirm-popup-cancel {
    background: var(--sidebar-button);
    margin-right: 10px;
}

.confirm-popup-cancel:hover {
    background: var(--sidebar-button-hover);
}

.confirm-popup-confirm {
    background: var(--sidebar-button-hover);
}

.confirm-popup-confirm:hover {
    background: var(--delete-red);
}
