{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dalinar | {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <link rel="icon" type="image/svg" href="{% static "images/logoWhite.svg" %}" />

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/root.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/pages/accounts.css' %}" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
          media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />
    </noscript>

  </head>
  <body class="form-body">
    {% block body %}

    <nav id="toolbar" class="toolbar-landing">
      <img id="toolbar-logo" src={% static 'images/logoWhite.svg' %} />
      <a href="/" class="toolbar-text toolbar-title">Dalinar</a>

      <a href="/home" class="toolbar-text">Home</a>

      <a href="/explore" class="toolbar-text">Explore</a>

      <a href="/guide" target="_blank" class="toolbar-text">Guide <img class="toolbar-icon" src={% static 'images/external.png' %}/></a>

      <div class="toolbar-auth">
          <a class="toolbar-text" href="/accounts/signup">Register</a>
          <a href="/accounts/login" class="toolbar-button toolbar-register">Sign in</a>
      </div>
        
    </nav>

    <div class="accounts-form-outer">
      <div class="accounts-form-container">
        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
        <a href="/" class="skip-link">Return to the homepage</a>
      </div>
    </div>
    
  </body>
</html>