{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dalinar | {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <link rel="icon" type="image/svg" href="{% static "images/logo.svg" %}" />

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/root.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/pages/accounts.css' %}" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
          media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />
    </noscript>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

    <meta property="og:site_name" content="Dalinar" />
    <meta property="og:title" content="Dalinar | AI made easy" />
    <meta name="keywords" content="machine learning, datasets, models, ai, no code, data">
    <meta property="og:description" content="End-to-end machine learning without having to code." />
    <meta property="og:url" content="https://www.dalinar.net/" />
    <meta property="og:image" content="https://dalinar.s3.eu-north-1.amazonaws.com/static/images/logo.jpg" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Dalinar Technologies",
        "url": "https://dalinar.net",
        "logo": "https://dalinar.s3.eu-north-1.amazonaws.com/static/images/logo.svg"
      }
    </script>
  </head>
  <body class="form-body">
    {% block body %}

    <nav id="toolbar" class="toolbar-landing toolbar-accounts">
      <a class="accounts-logo" href="/"><img id="toolbar-logo" src={% static 'images/logoWhite.svg' %} /></a>
      <a href="/" class="toolbar-text toolbar-title">Dalinar</a>

      <a href="/home" class="toolbar-text toolbar-mobile-hide">Home</a>

      <a href="/explore" class="toolbar-text">Explore</a>

      <a href="/guide" target="_blank" class="toolbar-text toolbar-mobile-hide">Guide <img class="toolbar-icon" src={% static 'images/external.png' %} /></a>

      {% if not user.is_authenticated %}
      <div class="toolbar-auth toolbar-mobile-hide">
          <a class="toolbar-text" href="/accounts/signup">Register</a>
          <a href="/accounts/login" class="toolbar-button toolbar-register">Sign in</a>
      </div>
      {% endif %}
        
    </nav>

    <div class="accounts-scroll">
      <div class="accounts-form-outer">
        <div class="accounts-form-container">
          {% block content %}
          {% endblock %}
          
          {% block extra_body %}
          {% endblock %}
        </div>
      </div>
    </diV>
    
    {% endblock %}
  </body>
</html>