{% extends "account/base.html" %}
{% load i18n %} 
{% load account %} 
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <h1>{% trans "Sign In" %}</h1>

  {% include "socialaccount/snippets/provider_list.html" with process="login" %}

  <form method="POST" action="{% url 'account_login' %}" class="login">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="form-button">{% trans "Sign In" %}</button>
  </form>

  <p class="form-note">
    {% trans "Don't have an account?" %} 
    <a href="{% url 'account_signup' %}">{% trans "Create one." %}</a>
  </p>

  
{% endblock %}