.form-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--background-light);
}

.form-container {
    width: var(--form-width);
    display: flex;
    align-items: center;
    flex-direction: column;
}    

.form-image {
    width: 85%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    min-width: 400px;
}
  
input {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    box-sizing: border-box;
    outline: none;
    background: rgb(0,0,0,0);
    border: 1px solid var(--border-light);
    color: white;
}

/* Autofill reset */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-dark) inset !important;
    -webkit-text-fill-color: white !important;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif !important;
    transition: background-color 5000s ease-in-out 0s;
}

  
button {
    width: 100%;
    padding: 10px;
    margin: 25px 0;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif; /* 1 */
    cursor: pointer;
}
  
.form-button:hover {
    background-color: var(--blue-dark);
}

.form-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
}

.form-link {
    cursor: pointer;
    color: var(--blue);
}

.form-link:hover {
    color: var(--blue-light);
}

.accounts-form-container h1 {
    font-weight: 500;
}

.accounts-form-outer {
    width: 70%;
    background: var(--background-darker);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accounts-form-container {
    width: var(--form-width);
    max-width: 550px;
    height: auto;
}

.accounts-form-container p {
    color: rgb(200,200,200);
}

a {
    color: var(--blue-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
    letter-spacing: 2px;
}

#id_remember {
    height: 22px;
    width: 22px;
    margin: 0;
    margin-left: 10px;
    background-color: var(--background-dark);
}

label {
    display: none;
}

.login p:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login p:nth-of-type(3) label {
    display: inline-block;
}

.skip-link {
    text-align: center;
    width: 100%;
    display: block;
}

.accounts-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.accounts-title {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* As the email server is not yet set up */
a.button.secondaryAction {
    display: none;
}

.login-or {
    text-align: center;
}

.socialaccount_providers {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.socialaccount_providers li {
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.socialaccount_provider {
    color: white;
    text-align: center;
}

@media all and (max-width: 900px) {
    .accounts-form-container {
        max-width: none;
        padding: 0 20px;
    }
}