.account-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.account-inner {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
}

.account-left {
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 40px;
}

.account-right {
    height: 100%;
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
    padding-right: 20px;
    overflow-y: auto;
}


.account-name {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    text-align: left;
    margin-top: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-light);
    margin-bottom: 0;
}

.account-stat {
    margin: 0;
    margin-top: 20px;
    width: 230px;
    text-align: left;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-stat-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.account-color-1 {
    background: rgb(0, 255, 255);
}
.account-color-2 {
    background: rgb(0, 153, 255);
}

.account-right-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}

.account-right-datasets, .account-right-models {
    padding: 5px 10px;
    font-size: 1.3rem;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.account-right-selected {
    background: var(--background-lighter);
}

.account-right-elements {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
}

.account-image-outer {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--border);
    height: 230px;
    width: 230px;
}

.account-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.change-profile-image {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    background: rgb(0,0,0,0.9);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}