.accounts-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.accounts-title {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    padding-right: 50px;
    padding-bottom: 5px;

    border-bottom: 1px solid white;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}

.accounts-left {
    width: 275px;
    background: var(--background-light);
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accounts-right {
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.accounts-search-container {
    background: var(--background-dark);
    margin-top: 20px;
    width: 100%;
}

.accounts-search-container .explore-datasets-search {
    border: none!important;
}

.accounts-sort {
    width: 100%;
    margin-top: 20px;
    background: var(--background-dark);
}

.account-element {
    width: 100%;
    max-width: 100%;
    background: var(--background-light);
    border-radius: 5px;
    height: 75px;
    min-height: 75px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.account-element:hover {
    background: var(--background-lighter);
    cursor: default;
}

.account-element-name {
    font-size: 1.2rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
}

.account-element-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.account-element-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
}

.account-element-left {
    width: 250px;
    border-right: 1px solid var(--border-light);
    box-sizing: border-box;
}

.account-element-center {
    width: 225px;
    min-width: 225px;
    justify-content: center;
    border-right: 1px solid var(--border-light);
    box-sizing: border-box;
}

.account-element-end {
    width: 300px;
    max-width: calc(100% - 400px);
    padding-left: 40px;
    padding-right: 3px;
    box-sizing: border-box;
    border-right: 1px solid var(--border-light);
}

.account-element-downloads, .account-element-datasets, .account-element-models {
    font-size: 1.1rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.account-element-downloads {
    margin: 0 5px;
}

.account-element-datasets, .account-element-models {
    width: 150px;
    max-width: 100%;
}

.account-element-models {
    margin-left: 20px;
}

@media all and (max-width: 1500px) {
    .accounts-right {
        padding: 20px 40px;
    }
}

@media all and (max-width: 1200px) {
    .account-element-left {
        min-width: 200px;
    }

    .account-element-end {
        width: auto;
        padding-left: 40px;
        padding-right: 0;
        border-right: none;
    }

    .account-element-center {
        width: 200px;
        min-width: 200px;
    }
    
    .account-element-downloads, .account-element-datasets, .account-element-models {
        font-size: 1rem;
    }
}

@media all and (max-width: 1100px) {
    .account-element-center {
        width: 150px;
        min-width: 150px;
    }
}

@media all and (max-width: 1000px) {
    .account-element-end {
        display: none;
    }

    .account-element-center {
        width: 50%;
        min-width: 50%;
        border: none;
    }

    .account-element-left {
        width: 50%;
        min-width: 50%;
    }

}