.dataset-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.dataset-elements, .dataset-labels {
    height: 100%;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.dataset-elements {
    width: var(--dataset-elements-width);
    z-index: 2;
}

.dataset-labels {
    width: var(--dataset-labels-width);
}

.dataset-main {
    width: calc(100% - var(--dataset-elements-width) - var(--dataset-labels-width));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dataset-sidebar-title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    width: calc(100% - 20px);
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border);
}

.dataset-sidebar-element {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
    z-index: 1;
    position: relative;
}

.dataset-sidebar-color {
    height: 15px;
    min-height: 15px;
    width: 15px;
    min-width: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.dataset-sidebar-options {
    height: 22px;
    width: 22px;
    border-radius: 11px;
    padding: 4px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.dataset-sidebar-options:hover {
    background: var(--sidebar-lighter)
}

.dataset-sidebar-options-margin {
    margin-left: auto;
}

.dataset-sidebar-color-element {
    margin-left: 10px;
    margin-right: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataset-sidebar-element:hover {
    background: var(--sidebar-light);
    cursor: pointer;
}

.dataset-sidebar-element-selected {
    background: var(--sidebar-selected);
}

.dataset-sidebar-element-selected:hover{
    background: var(--sidebar-selected);
}

.dataset-sidebar-button-container {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    position: relative;
}

.dataset-create-label-container, .dataset-label-expanded {
    position: absolute;
    width: 300px;
    right: calc(100% + 20px);
    top: -10px;
    z-index: 2;
    box-shadow: 0 0 0 1px var(--border);
    background: var(--sidebar);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 20px;
}

.dataset-label-expanded {
    top: 0;
    display: flex;
    cursor: default;
}

.dataset-create-label-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dataset-create-label-inp {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 550;
    font-family: 'Open Sans', sans-serif; /* 1 */
    box-sizing: border-box;
    outline: none;
    background: var(--background);
    color: white;
    width: 100%;
}

.create-label-color-container {
    border-radius: 3px;
}

.create-label-submit {
    width: 100%;
    margin-top: 10px;
    background: var(--gray);
}

.create-label-submit:hover {
    background: var(--gray-dark);
}

.edit-label-delete {
    margin-top: 5px;
    background: var(--gray-darker);
}

.edit-label-delete:hover {
    background: rgb(165, 48, 48);
}

.dataset-create-label-color {
    opacity: 0;
}

.dataset-create-label-label {
    color: white;
    margin-right: 10px;
    min-width: 60px;
}

.dataset-create-label-row {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.dataset-element-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataset-element-view-image {
    max-width: 90%;
    max-height: 85%;
    box-shadow: 0 0 50px 0 var(--background-shadow);
}

.dataset-upload-files-button {
    margin-top: 10px;
}

.dataset-upload-button {
    text-align: left;
}

.dataset-no-items {
    color: var(--gray-text);
    font-size: 0.9rem;
    width: 97%;
    text-align: center;
}

.dataset-sidebar-icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 8px;
}

.dataset-sidebar-element-label {
    position: absolute;
    left: calc(100% + 10px);
    background: var(--toolbar-dark);
    padding: 5px 7px;
    box-shadow: 0 0 0 1px var(--border);
    font-size: 1.1rem;
}

.dataset-download-button, .dataset-show-keybinds-button {
    width: 100%;
    border-radius: 3px;
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dataset-download-button:hover, .dataset-show-keybinds-button:hover {
    background: var(--blue);
}

.dataset-show-keybinds-button {
    margin-top: auto;
    margin-bottom: 20px;
    width: calc(100% - 20px);
}

.dataset-download-icon {
    height: 17px;
    margin-right: 10px;
}

.dataset-main-label-clicked {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0 0 0 2px var(--border);
}

.dataset-sidebar-label-keybind {
    padding: 1px 5px;
    background: var(--sidebar-button);
    margin-left: auto;
    margin-right: 5px;
    border-radius: 3px;
}

.dataset-sidebar-label-keybind:hover {
    box-shadow: 0 0 0 1px white;
}

.dataset-sidebar-label-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
