.dataset-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.dataset-elements, .dataset-labels {
    height: 100%;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.dataset-elements-scrollable, .dataset-labels-scrollable {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.dataset-elements-scrollable::-webkit-scrollbar, .dataset-labels-scrollable::-webkit-scrollbar {
    width: 6px;
}
.dataset-elements-scrollable::-webkit-scrollbar-thumb, .dataset-labels-scrollable::-webkit-scrollbar-thumb {
    border-radius: 0;
}

.dataset-elements {
    width: var(--dataset-elements-width);
    z-index: 2;
}

.dataset-labels {
    width: var(--dataset-labels-width);
}

.dataset-main {
    width: calc(100% - var(--dataset-elements-width) - var(--dataset-labels-width));
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.dataset-main-toolbar {
    height: 50px;
    min-height: 50px;
    width: 100%;
    background: var(--toolbar);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataset-main-display {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dataset-description-display-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
}

.dataset-title-expand-icon {
    height: 17px;
    width: 17px;
    margin-left: 15px;
}

.dataset-description-name {
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    background: rgb(0,0,0,0.5);
}

.dataset-description-row {
    width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

.dataset-description-stats {
    width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: var(--background-light);
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
}

.dataset-description-stats-icon {
    height: 20px;
    margin-right: 10px;
}

.dataset-description-stats-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 20px;
    margin-left: 20px;
}

.dataset-description-display {
    width: 800px;
    max-width: 95%;
    margin-top: 20px;
    background: var(--background-light);
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 5px;
}

.dataset-description-image-container {
    border-radius: 5px;
    width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.dataset-description-image {
    max-width: 100%;
    max-height: 600px;
    border-radius: 5px;
}

.dataset-main-label-clicked {
    margin-right: 10px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0 0 2px var(--border);
}

.dataset-title {
    font-size: 1.4rem;
    margin: 0;
}

.dataset-title-container {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--toolbar-light);
    padding: 0 10px;
    border-radius: 3px;
    cursor: default;
}

.dataset-title-container:hover {
    background: var(--toolbar-lighter);
    cursor: pointer;
}

.dataset-title-button {
    height: 35px;
    background: var(--sidebar-button);
    border-radius: 3px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.dataset-title-icon {
    height: 22px;
    margin-right: 10px;
}

.dataset-title-edit-icon {
    height: 20px;
    margin-right: 10px;
}

.dataset-sidebar-title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    width: calc(100% - 20px);
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border);
}

.dataset-sidebar-element {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px 10px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    z-index: 1;
    position: relative;
}

.dataset-sidebar-color {
    height: 15px;
    min-height: 15px;
    width: 15px;
    min-width: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.dataset-sidebar-options {
    height: 22px;
    width: 22px;
    border-radius: 11px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.dataset-sidebar-options:hover {
    background: var(--sidebar-lighter)
}

.dataset-sidebar-options-margin {
    margin-left: auto;
}



.dataset-sidebar-color-element {
    margin-left: auto;
    margin-right: 5px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataset-sidebar-element:hover {
    background: var(--sidebar-light);
    cursor: pointer;
}

.dataset-sidebar-element-selected {
    background: var(--sidebar-selected);
}

.dataset-sidebar-element-selected:hover{
    background: var(--sidebar-selected);
}

.dataset-sidebar-button-container {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    position: relative;
}

.dataset-create-label-container, .dataset-label-expanded, .dataset-element-expanded {
    position: absolute;
    width: 300px;
    right: calc(100% + 10px);
    z-index: 2;
    box-shadow: 0 0 0 1px var(--border);
    background: var(--sidebar);
    box-sizing: border-box;
    padding: 30px 20px;
}

.dataset-label-expanded {
    top: 0;
    display: flex;
    right: calc(100% + 10px);
    cursor: default;
}

.dataset-element-expanded {
    right: 0;
    left: calc(100% + 10px);
    top: 0;
    display: flex;
    cursor: default;
}

.dataset-create-label-form, .dataset-edit-element-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dataset-create-label-inp {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 550;
    font-family: 'Open Sans', sans-serif; /* 1 */
    box-sizing: border-box;
    outline: none;
    background: var(--background);
    color: white;
    width: 100%;
}

.create-label-color-container {
    border-radius: 3px;
}

.create-label-submit, .edit-element-submit {
    width: 100%;
    margin-top: 10px;
    background: var(--gray);
}

.create-label-submit:hover, .edit-element-submit:hover {
    background: var(--gray-dark);
}

.edit-label-delete, .edit-element-delete {
    margin-top: 5px;
    background: var(--gray-darker);
}

.edit-label-delete:hover, .edit-element-delete:hover {
    background: var(--delete-red);
}

.dataset-create-label-color {
    opacity: 0;
}

.dataset-create-label-label {
    color: white;
    margin-right: 10px;
    min-width: 60px;
    font-size: 1.1rem;
}

.dataset-create-label-row {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.dataset-element-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dataset-element-view-image {
    max-width: 90%;
    max-height: 85%;
    box-shadow: 0 0 50px 0 var(--background-shadow);
}

.dataset-upload-files-button {
    margin-top: 10px;
}

.dataset-upload-button {
    text-align: left;
}

.dataset-no-items {
    color: var(--gray-text);
    font-size: 0.9rem;
    width: 97%;
    text-align: center;
}

.dataset-sidebar-icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 8px;
}

.dataset-sidebar-element-label {
    position: absolute;
    left: calc(100% + 10px);
    background: var(--toolbar-dark);
    padding: 5px 7px;
    box-shadow: 0 0 0 1px var(--border);
    font-size: 1.1rem;
    display: hidden;
}

.dataset-download-button, .dataset-show-keybinds-button {
    width: 100%;
    border-radius: 3px;
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dataset-download-button:hover, .dataset-show-keybinds-button:hover {
    background: var(--blue);
}

.dataset-show-keybinds-button {
    margin-top: auto;
    margin-bottom: 20px;
    width: calc(100% - 20px);
}

.dataset-download-icon {
    height: 17px;
    margin-right: 10px;
}


.dataset-sidebar-label-keybind {
    padding: 1px 5px;
    background: var(--sidebar-button);
    margin-left: auto;
    margin-right: 5px;
    border-radius: 3px;
}

.dataset-sidebar-label-keybind:hover {
    box-shadow: 0 0 0 1px white;
}

.dataset-sidebar-label-name, .dataset-sidebar-element-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataset-sidebar-element-name-edit {
    max-width: calc(100% - 55px);
    background: rgb(0,0,0,0.2);
    border: none;
    outline: none;
    display: inline-block;
    padding: 0 5px;
    font-size: 0.9rem;
    padding: 0;
}

.download-element {
    background: var(--toolbar-dark);
    height: 90%;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 3px;
}

.download-element:hover {
    box-shadow: 0 0 0 1px rgb(100,100,100);
    cursor: pointer;
}

.download-element-title {
    font-size: 1.3rem;
    padding: 0 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--border);
}

.download-element-description {
    font-size: 0.9rem;
    text-align: justify;
    margin: 0;
    color: rgb(210,210,210);
    line-height: 1.3;
}

.download-element-image {
    width: 100%;
    margin-top: 20px;
}

.dataset-element-view-text {
    width: 800px;
    max-width: 95%;
    position: absolute;
    top: 100px;
    background: var(--background-light);
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 5px;
}

.element-type-img {
    margin-right: 7px;
    width: 15px;
    height: auto;
}

.dataset-ownername {
    margin-left: 5px;
}