.guide-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.guide-toolbar{
    width: 100%;
    height: 45px;
    background: var(--toolbar-dark);
    padding: 0 40px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.guide-toolbar-element {
    font-size: 1rem;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 20px;
}

.guide-toolbar-element:hover {
    box-shadow: 0 0 0 1px var(--border);
}

.guide-toolbar-element-selected {
    background: var(--toolbar-lighter)
}

.guide-main {
    height: calc(100% - 45px);
    width: 100%;
    overflow-y: auto;
}

.download-instructions-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-instructions-element {
    width: calc(50% - 40px);
    height: 650px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;

    background: var(--background-light);
    display: flex;
    flex-direction: column;
}

.download-frameworks-instructions {
    margin-top: 0!important;
    width: auto;
}

.download-instructions-title {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    font-size: 2rem;
}

.instructions-header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    padding-top: 20px;
}

.instructions-title {
    font-size: 2.5rem;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    width: auto;
    padding-right: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.instructions-text {
    font-size: 1rem;
    max-width: 750px;
    text-align: justify;
    margin-bottom: 0;
}