.guide-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: var(--background-dark);
    overflow-y: scroll;
}

.guide-container::-webkit-scrollbar {
    width: 10px;
}

.guide-toolbar, .guide-toolbar-right {
    width: var(--guide-sidebar-width);
    min-width: var(--guide-sidebar-width);
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    padding-top: 10px;
    position: fixed;
}

.guide-toolbar-right {
    right: 10px;
}

.guide-toolbar::-webkit-scrollbar {
    height: 7px;
}

.guide-toolbar-element {
    width: 100%;
    font-size: 1.4rem;
    padding: 5px 10px;
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guide-toolbar-element-icon {
    width: 18px;
    margin-right: 10px;
}

.guide-toolbar-subelement {
    font-size: 1rem;
    border-radius: 0 30px 30px 0;
    width: 100%;
    max-width: 100%;
    user-select: none;
    box-sizing: border-box;
    padding: 5px 10px;
    padding-left: 20px;
    white-space: nowrap;
    color: rgb(200,200,200);
}

.guide-toolbar-subelement-right {
    font-size: 1.1rem;
    color: rgb(200,200,200);
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.guide-toolbar-subelement-right:hover {
    color: white;
    text-decoration: underline;
}

.guide-toolbar-subelement:hover {
    background: var(--sidebar-light);
    cursor: pointer;
}

.guide-toolbar-element-selected {
    background: var(--blue);
    color: white;
}

.guide-toolbar-element-selected:hover {
    background: var(--blue);
}

.guide-main-outer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.guide-main {
    width: 800px;
    max-width: 90%;
    margin-bottom: 50px;
}

.instructions-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.download-instructions-element {
    width: 100%;
    height: 650px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 50px;
    background: var(--background-light);
    display: flex;
    flex-direction: column;
}

.download-frameworks-instructions {
    margin-top: 0!important;
    width: auto;
}

.download-instructions-title {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    font-size: 2rem;
}

.instructions-header {
    width: 100%;
}

.instructions-title {
    font-size: 2.5rem;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-right: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.instructions-text {
    font-size: 1.1rem;
    max-width: 100%;
    text-align: justify;
    margin-bottom: 0;
}

.guide-image {
    width: 100%;
    margin-top: 40px;
}

.guide-table {
    width: 100%;
    border-radius: 3px;
    background: var(--background);
    padding: 10px;
    box-sizing: border-box;
}