.landing-container {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    background: black;
}

.landing-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - var(--toolbar-height));
}

.landing-header-left {
    width: calc(100% - var(--landing-header-right));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-dark);
    box-sizing: border-box;
    padding-left: 15%;
}
.landing-header-right {
    width: var(--landing-header-right);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: visible;
    padding: 40px 0;
    background: black;
}

.landing-right-row {
    height: calc((100% - 30px * 4) / 5);
    width: calc(100% - 5px);
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.landing-right-row-track {
    display: flex;
    height: 100%;
    width: fit-content;
    gap: 30px;
    animation-name: scroll-left;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running; /* default */
}
  
@keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
} 
  
.landing-rotating-img {
    width: auto;
    height: 100%;
}

.landing-header-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    left: -5px;
}

.landing-title {
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 0;
    margin-top: 150px;
    width: 675px;
    max-width: 80%;
    text-align: center;
}

.landing-description {
    color: var(--gray-text);
    width: 575px;
    max-width: 70%;
    text-align: center;
    font-size: 1.1rem;
}

.landing-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.landing-header-button {
    width: 170px;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 0 10px;
}

.landing-header-explore {
    background: rgb(0,0,0,0);
    border: 1px solid var(--border-light);
}
.landing-header-explore:hover {
    background: rgb(0,0,0,0);
    border-color: rgb(150,150,150);
}