.model-toolbar-left-inner {
    display: flex;
    height: 100%;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 5px);
    max-width: calc(100% - 5px);
    position: relative;
}

.model-description-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    bottom: 5px;
    left: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.model-description-stats-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
    background: var(--sidebar-button);
    white-space: nowrap;
}

.model-upload-button-icon-small {
    height: 12px;
    width: 12px;
}

.model-sidebar-layer {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px 10px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    z-index: 1;
    position: relative;
}

.model-sidebar-layer:hover {
    background: var(--sidebar-light);
}

.model-layers-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.model-layers-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    padding: 50px;
    box-sizing: border-box;
}

.model-sidebar-delete {
    margin-right: 0;
    margin-left: auto;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-left: auto;
}

.model-sidebar-delete:hover {
    background: var(--sidebar-lighter);
    cursor: pointer;
}

.model-sidebar-layer-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.layer-element {
    background: var(--toolbar);
    max-height: 95%;
    min-width: 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

.layer-element-hovered {
    box-shadow: 0 0 0 1px var(--border-light);
}

.layer-element-warning {
    position: absolute;
    left: 0;
    bottom: calc(100% + 10px);
    width: 100%;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--background-light);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layer-element-warning-icon {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.layer-element-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.layer-element-title {
    font-size: 1.3rem;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--toolbar-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.layer-element-stat-color, .model-sidebar-color {
    height: 14px;
    width: 14px;
    margin-right: 7px;
    border-radius: 7px;
}

.layer-element-stat-purple, .model-sidebar-color-purple {
    background: rgb(153, 0, 255);
}

.layer-element-stat-lightblue, .model-sidebar-color-lightblue {
    background: rgb(0, 255, 255);
}

.layer-element-stat-blue, .model-sidebar-color-blue {
    background: rgb(0, 174, 255);
}

.create-layer-line {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid var(--border);
    width: 100%;
}

.layer-element-delete {
    height: 22px;
    width: 22px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 11px;
    margin-left: 20px;
}

.layer-element-delete:hover {
    cursor: pointer;
    background: var(--sidebar-lighter);
}

.layer-element-outer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layer-element-connection {
    width: 50px;
    height: 5px;
    background: var(--toolbar-lighter);
}

.model-description-trained {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-bottom: 15px;
}

.trained-on-text {
    margin-bottom: 0;
    white-space: nowrap;
}

.trained-on-container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.trained-on-element {
    padding: 3px 7px;
    border-radius: 3px;
    background: var(--sidebar-button);
    margin-right: 5px;
}

.trained-on-element:hover {
    cursor: pointer;
    background: var(--sidebar-button-hover);
}

.trained-on-icon {
    width: 15px;
    margin-left: 5px;
}


.model-title-button, .model-download-button {
    height: 35px;
    background: var(--sidebar-button);
    border-radius: 3px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.model-download-button {
    margin-left: auto;
    margin-right: 0;
}

.model-title-edit-icon, .model-download-icon {
    width: 20px;
    margin-right: 10px;
}

.layer-element-stat {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.layer-element-label {
    margin-right: 20px;
}

.layer-element-input {
    background: var(--background);
    box-sizing: border-box;
    padding: 3px 5px;
    margin-left: auto;
    width: 75px;
    border: none;
    outline: 0;
    border-radius: 3px;
}

.layer-element-save {
    margin-top: 20px;
    font-size: 1rem;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.layer-element-save-disabled {
    background: var(--background);
    opacity: 0.8;
    pointer-events: none;
    cursor: default;
}

.layer-element-save-disabled:hover {
    cursor: default;
    background: var(--background);
}