.model-toolbar-left-inner {
    display: flex;
    height: 100%;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 5px);
    max-width: calc(100% - 5px);
    position: relative;
}

.model-description-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    left: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.model-description-stats-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
    background: var(--sidebar-button);
    white-space: nowrap;
}

.model-upload-button-icon-small {
    height: 12px;
    width: 12px;
}

.model-sidebar-layer {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px 10px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    z-index: 1;
    position: relative;
}

.model-sidebar-layer:hover {
    background: var(--sidebar-light);
}

.model-layers-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.model-layers-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    padding: 50px;
    box-sizing: border-box;
}

.model-sidebar-delete {
    margin-right: 0;
    margin-left: auto;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-left: auto;
}

.model-sidebar-delete:hover {
    background: var(--sidebar-lighter);
    cursor: pointer;
}

.model-sidebar-layer-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.layer-element {
    background: var(--toolbar);
    max-height: 95%;
    min-width: 150px;
    margin-right: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.layer-element-hovered {
    box-shadow: 0 0 0 1px var(--border-light);
}

.layer-element-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.layer-element-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--toolbar-light);
}

.layer-element-stat {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layer-element-stat-color, .model-sidebar-color {
    height: 14px;
    width: 14px;
    margin-right: 7px;
    border-radius: 7px;
}

.layer-element-stat-purple, .model-sidebar-color-purple {
    background: rgb(153, 0, 255);
}

.layer-element-stat-lightblue, .model-sidebar-color-lightblue {
    background: rgb(0, 255, 255);
}