<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17119632058">
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-17119632058');
            gtag('config', 'G-LKEWF87Q7Q');
        </script>

        <meta charset="UTF-8" />
        <title>Dalinar</title>
                
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link rel="preload"
        as="style"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />
    
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
              media="print" onload="this.media='all'" />
    
        <noscript>
          <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" />
        </noscript>

        <link rel="icon" type="image/svg" href="{% static "images/logo.jpg" %}" />

        <!-- Styles. For the most part, every separate page has a dedicated stylesheet. -->
        <!-- In addition, some components (like popups) share a stylesheet. -->
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/root.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/popups.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/home.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/create-dataset.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/dataset.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/explore.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/landing.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/guide.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/model.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/accounts-list.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pages/account.css" %}" />

        <link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}" />

        <meta property="og:site_name" content="Dalinar" />
        <meta property="og:title" content="Dalinar | AI made easy" />
        <meta name="keywords" content="machine learning, datasets, models, ai, no code, data">
        <meta property="og:description" content="End-to-end machine learning without having to code." />
        <meta property="og:url" content="https://www.dalinar.net/" />
        <meta property="og:image" content="https://dalinar.s3.eu-north-1.amazonaws.com/static/images/logo.jpg" />

    </head>
    <body>
        <div id="root">
            
        </div>
      
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>